In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipdb
import os
import urllib.request

# Process json file to DataFrame, which contains the information of all the detectors

In [3]:
with open('./data/highway_england_sites.json') as file:
    site_info = file.read()

In [4]:
site_info = site_info.split('},{')

In [56]:
site_info_df = []
for c in range(len(site_info)):  # total len: 19022
    info_temp = site_info[c]
    info_temp = [i.split(':') for i in info_temp.split(',')]
    try:
        info_temp[1] = [info_temp[1][0], info_temp[1][1] + info_temp[1][2]]
    except:
        None
    try:
        assert(len(info_temp)==6)
    except:
        temp = ''
        temp_2 = [temp+i[0] for i in info_temp[2:len(info_temp)-4]][0]
        info_temp[1][1] = info_temp[1][1] + ':' + temp_2
        del info_temp[2:len(info_temp)-4]
    for i in range(len(info_temp)):
        for j in range(len(info_temp[i])):
            info_temp[i][j] = info_temp[i][j].strip('"')
    site_info_df.append(pd.Series(pd.DataFrame(info_temp).loc[:, 1]))
    
site_info_df = pd.DataFrame(site_info_df, index = range(len(site_info_df)))
site_info_df.columns = ['Id', 'Name', 'Description', 'Longitude', 'Latitude', 'Status']

In [59]:
site_info_df

,Id,Name,Description,Longitude,Latitude,Status
0,1,MIDAS site at M4/2295A2 priority 1 on link 105...,M4/2295A2,-0.520379557723297,51.4930115367112,Inactive
1,2,MIDAS site at A1M/2259B priority 1 on link 126...,A1M/2259B,-0.320275451712423,52.5351577963853,Active
2,3,MIDAS site at M5/7482B priority 1 on link 1090...,M5/7482B,-2.17513825916014,52.1756517888158,Active
3,4,MIDAS site at M3/2173A priority 1 on link 1030...,M3/2173A,-1.39237366736779,50.9603586282494,Active
4,5,MIDAS site at M25/5764B priority 1 on link 199...,M25/5764B,0.283161593410359,51.5756168053165,Active
...,...,...,...,...,...,...
19017,19441,MIDAS site at M27/9165L priority 1 on link 103...,M27/9165L,-1.40031373082163,50.9541408700334,Active
19018,19442,MIDAS site at M27/9291A priority 1 on link 103...,M27/9291A,-1.29270063745019,50.8880996838257,Active
19019,19443,MIDAS site at M6/6431A priority 1 on link 1110...,M6/6431A,-2.21788537714,52.9485949226556,Active
19020,19444,TMU Site 9976/1 on link A1 southbound access f...,9976/1,-0.230147293685459,51.6840632692531,Active
19021,19445,MIDAS site at M6/5939L priority 1 on link 1120...,M6/5939L,-1.97922643511104,52.5591588582153,Active

# Request csv files

## url format:
#### https://webtris.highwaysengland.co.uk/Report/DownloadReport?From=01012021&To=01092021&EnumReportType=1&SiteId=455&EnumReportSubType=1

In [60]:
root = 'https://webtris.highwaysengland.co.uk/Report/DownloadReport?'
date_from = '01012020'  # ddmmyyyy
date_to = '01092021'  # ddmmyyyy

In [69]:
det_list_M4 = ['M4/2156A', 'M4/2168A', 'M4/2178A', 'M4/2188A', 'M4/2206A', 'M4/2210A', 'M4/2156B', 'M4/2162B', 'M4/2168B', 'M4/2178B', 'M4/2188B', 'M4/2206B', 'M4/2210B']  # selected manually
det_list_M1 = ['M1/2114A', 'M1/2116B', 'M1/2147B', 'M1/2149A', 'M1/2150K', 'M1/2181B', 'M1/2185J', 'M1/2185B', 'M1/2220A', 'M1/2220B', 'M1/2247B', 'M1/2253A', 'M1/2277B', 'M1/2279A', 'M1/2292B', 'M1/2293A', 'M1/2297B', 'M1/2297A', 'M1/2317B', 'M1/2320A', 'M1/2332A', 'M1/2331B', 'M1/2335A']

siteID_M4 = [site_info_df.loc[site_info_df['Description']==i, 'Id'].values[0] for i in det_list_M4]
siteID_M1 = [site_info_df.loc[site_info_df['Description']==i, 'Id'].values[0] for i in det_list_M1]

In [83]:
def get_csv(siteName, siteID):
    url = 'https://webtris.highwaysengland.co.uk/Report/DownloadReport?From=' + \
                date_from + '&To=' + date_to + '&EnumReportType=1&SiteId=' + siteID + '&EnumReportSubType=1'
    urllib.request.urlretrieve(url, './data/%s_%s_%s_%s.csv'%(siteName[:2], siteName[3:], date_from, date_to))

In [84]:
# for i in range(len(det_list_M1)):
#     get_csv(det_list_M1[i], siteID_M1[i])

# for i in range(len(det_list_M4)):
#     get_csv(det_list_M4[i], siteID_M4[i])